BOT_TOKEN=
ADMIN_CHAT_ID=
ACADEMY_URL=http://bankrot.academy/
PLATFORM_URL=https://sau.pro/
PLATFORM_SITE_URL=#

# Optional for webhook mode
WEBHOOK_BASE_URL=https://your-domain.com
WEBHOOK_PATH=/webhook
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8088
